<div id="fireworks-template">
 <div id="fw" class="firework"></div>
 <div id="fp" class="fireworkParticle"><img src="image/particles.gif" alt=""></div>
</div>
<div id="fireContainer"></div>

<div class="bacgr_body">

	<div class="main-container">
		<div class="finish hidden">X</div>
		<div class="help-for-border">
			<span class="container-xo">
				<div class="brdr-xo" data-row="0" data-col="0">
					<div class="stl-x">X</div>
					<div class="stl-0">O</div>
				</div>
			</span>

			<span class="container-xo">
				<div class="brdr-xo" data-row="0" data-col="1">
					<div class="stl-x">X</div>
					<div class="stl-0">O</div>
				</div>
			</span>

			<span class="container-xo">
				<div class="brdr-xo" data-row="0" data-col="2">
					<div class="stl-x">X</div>
					<div class="stl-0">O</div>
				</div>
			</span>

			<!-- First line  -->

			<span class="container-xo">
				<div class="brdr-xo" data-row="1" data-col="0">
					<div class="stl-x">X</div>
					<div class="stl-0">O</div>
				</div>
			</span>
			<span class="container-xo">
				<div class="brdr-xo" data-row="1" data-col="1">
					<div class="stl-x">X</div>
					<div class="stl-0">O</div>
				</div>
			</span>
			<span class="container-xo">
				<div class="brdr-xo" data-row="1" data-col="2">
					<div class="stl-x">X</div>
					<div class="stl-0">O</div>
				</div>
			</span>

			<!-- Second line -->

			<span class="container-xo">
				<div class="brdr-xo" data-row="2" data-col="0">
					<div class="stl-x">X</div>
					<div class="stl-0">O</div>
				</div>
			</span>
			<span class="container-xo">
				<div class="brdr-xo" data-row="2" data-col="1">
					<div class="stl-x">X</div>
					<div class="stl-0">O</div>
				</div>
			</span>
			<span class="container-xo">
				<div class="brdr-xo"  data-row="2" data-col="2">
					<div class="stl-x">X</div>
					<div class="stl-0">O</div>
				</div>
			</span>
		</div>
	</div>
<div style="position: fixed; width: 8px; height: 8px; bottom: 0px; left: 0px; overflow: hidden;" class="movieContainer high_performance" id="sm2-container"><embed haspriority="true" wmode="transparent" type="application/x-shockwave-flash" pluginspage="//www.macromedia.com/go/getflashplayer" bgcolor="#ffffff" allowscriptaccess="always" quality="high" src="./swf/soundmanager2_flash9.swf" id="sm2movie" name="sm2movie" height="auto" width="auto"></div>
</div>